html {
  font-size: 10px;
  background: whitesmoke url('whitemac.jpg')bottom center;
  background-size: cover;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.keys {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  min-height: 100vh;
  align-content: center;
  justify-content: center;
  margin: 10px;
}

.key {
  border: 0.4rem solid rgb(255, 251, 251);
  border-radius: 0.5rem;
  margin: 0;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}

@media (max-width: 1000px) {
  .keys {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .keys {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .keys {
    grid-template-columns: 1fr;
  }
}
